In [3]:
import pandas as pd
import numpy as np
import networkx as nx
from scipy.sparse import coo_matrix

In [4]:
#M = coo_matrix((3, 4), dtype=np.int8)#.toarray()
#M = np.ndarray((3,4))
M = np.zeros((3,4))
#M[0][15] = 5

In [5]:
type(M)

numpy.ndarray

In [22]:
#importing twitter data
dfs_t = pd.read_excel("C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/twitter_dataset.xlsx", sheet_name= None, date_parser  = int)
t_post, t_user = dfs_t[list(dfs_t.keys())[1]] , dfs_t[list(dfs_t.keys())[2]]
t_post.set_index('id_user', drop = False , inplace = True)
t_user.set_index('id_user', drop = False, inplace = True)

dfs_i = pd.read_excel("C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/instagram_dataset.xlsx", sheet_name= None, date_parser  = int)
i_post, i_user = dfs_i[list(dfs_i.keys())[1]] , dfs_i[list(dfs_i.keys())[2]]
i_post.set_index('id_user', drop = False,  inplace = True)
i_user.set_index('id_user',drop = False, inplace = True)

,id_user,nb_followers,nb_following,nb_posts,sex,id_followers
id_user,,,,,,
288877,288877,167,58,48,female,"[738818, 134147, 314454, 977416, 926730, 82740..."
140311,140311,67,72,8,female,"[380289, 341188, 775558, 998151, 246792, 17869..."
182096,182096,142,95,14,female,"[524806, 968200, 241324, 233490, 188948, 15054..."
208875,208875,249,99,150,male,"[776192, 164353, 989698, 134147, 305670, 65792..."
960092,960092,96,114,19,female,"[858624, 896013, 138779, 817185, 854563, 88580..."
205994,205994,74,114,7,female,"[901249, 368386, 200555, 386566, 974196, 66722..."
680388,680388,166,50,37,female,"[134147, 425989, 524806, 717831, 425933, 68814..."
314488,314488,112,248,67,male,"[377771, 357897, 898571, 820751, 873501, 77110..."
872813,872813,94,113,81,male,"[625666, 798315, 357897, 194575, 331281, 25499..."
312032,312032,247,201,53,female,"[696491, 738822, 502279, 902666, 898571, 78132..."
684157,684157,156,76,36,female,"[738818, 305670, 502279, 586760, 183310, 93902..."
506125,506125,123,148,89,male,"[776192, 657927, 652413, 701977, 921114, 81923..."
920882,920882,98,29,1,male,"[138241, 634895, 331281, 688146, 238618, 47978..."
173711,173711,205,224,53,female,"[348163, 524806, 586760, 746668, 926730, 94414..."
729947,729947,185,186,69,female,"[224256, 138241, 134147, 841217, 968200, 80094..."
278094,278094,171,116,96,male,"[858624, 335873, 625666, 205828, 425989, 38656..."
189860,189860,189,248,61,male,"[180738, 507051, 390149, 738822, 717831, 84481..."
596136,596136,162,126,12,female,"[241324, 827404, 820751, 627008, 187411, 49000..."
682562,682562,240,29,94,male,"[224256, 776192, 695979, 539654, 647681, 88832..."
201171,201171,231,244,41,male,"[413696, 338148, 611334, 586760, 178697, 60058..."
410484,410484,118,238,43,male,"[507051, 599201, 902666, 187411, 390167, 87350..."
716326,716326,202,97,35,female,"[138241, 377771, 205828, 934246, 680449, 96410..."
162923,162923,121,93,19,female,"[335873, 390149, 667654, 586760, 827404, 78132..."
391244,391244,169,115,74,female,"[348163, 992773, 524295, 833551, 639510, 94466..."
304405,304405,195,261,35,female,"[909312, 939016, 542039, 342029, 183310, 15719..."
706084,706084,104,303,40,female,"[848389, 539654, 233490, 586778, 262171, 29289..."
200531,200531,99,202,207,female,"[413696, 502279, 670218, 423952, 581660, 43113..."
404653,404653,78,256,248,female,"[575872, 341188, 845443, 413782, 775558, 56807..."
709940,709940,230,153,23,male,"[794445, 753409, 977416, 773292, 542039, 42190..."
560765,560765,81,107,50,female,"[114944, 186625, 383290, 657927, 759561, 94183..."
...,...,...,...,...,...,...
408109,408109,188,115,142,male,"[413696, 390149, 673798, 564711, 539147, 20174..."
720340,720340,146,157,91,male,"[524806, 657927, 518670, 712719, 463888, 52821..."
131644,131644,234,291,150,male,"[841217, 180738, 647681, 968200, 721068, 69707..."
817060,817060,98,49,159,male,"[939020, 896013, 993300, 848408, 533019, 52892..."
319957,319957,120,223,66,female,"[992773, 717831, 898571, 845837, 421904, 85556..."
794716,794716,97,210,41,female,"[827404, 233490, 403995, 422948, 530471, 89501..."
497846,497846,239,107,111,male,"[776192, 999583, 386566, 524295, 497836, 60058..."
499812,499812,172,63,71,male,"[481792, 180738, 977416, 539662, 337424, 63951..."
302805,302805,187,43,43,female,"[858624, 932183, 205828, 992773, 539654, 72106..."
215515,215515,113,246,34,male,"[858624, 138241, 520707, 205828, 246792, 53966..."
511003,511003,117,96,35,male,"[625666, 712719, 712213, 448535, 322073, 69583..."
113342,113342,109,88,43,female,"[138241, 201743, 993300, 728098, 627377, 32516..."
901822,901822,142,225,43,female,"[909312, 728592, 286227, 723863, 848408, 69890..."
886899,886899,213,140,5,female,"[370268, 841217, 738822, 830472, 827404, 78310..."
225418,225418,171,53,80,male,"[968200, 382985, 820751, 993300, 490005, 94466..."
964388,964388,96,159,116,female,"[224256, 444931, 157199, 824238, 586778, 72809..."
197246,197246,223,270,34,female,"[773123, 830472, 131671, 368386, 322989, 81826..."
343228,343228,231,460,4,female,"[992773, 386566, 888329, 536785, 939020, 34202..."
765124,765124,214,40,62,male,"[520707, 738822, 844813, 768016, 712210, 14031..."
589186,589186,167,124,61,male,"[481792, 201743, 129049, 138779, 653854, 77315..."
830625,830625,238,323,17,female,"[481792, 880951, 605189, 657927, 539147, 42190..."
618920,618920,143,177,98,female,"[755201, 386566, 939016, 178697, 833551, 47978..."
326259,326259,202,74,99,female,"[680449, 444931, 184662, 738822, 186625, 58676..."
646944,646944,155,206,149,male,"[134147, 390149, 667654, 717831, 977416, 89601..."
841217,841217,159,182,116,male,"[481792, 858624, 520707, 848389, 830472, 53914..."
746387,746387,126,171,109,male,"[841217, 625666, 539654, 194575, 254994, 37378..."
404047,404047,237,247,32,female,"[858624, 205828, 675064, 455686, 218120, 38298..."
630873,630873,106,120,140,female,"[625666, 888662, 186382, 712719, 254297, 44528..."
719594,719594,138,126,180,female,"[841217, 524806, 218120, 845837, 688146, 49000..."
639300,639300,245,194,159,male,"[224256, 444931, 737025, 342029, 539662, 76801..."

In [7]:
#retweets_log = t_post[['id_user','id_twewt']]
t_post['infected_by'] = None
for index, row in t_post.iterrows():
    id_tweet_origin = row['id_tweet_origin']
    if id_tweet_origin != 0:
        infected_by = int(t_post[t_post['id_tweet'] == id_tweet_origin]['id_user'])
        t_post.loc[index,'infected_by'] = infected_by

In [8]:
#tracking "fathers" on instragram
i_post['infected_by'] = None
for index, row in i_post.iterrows():
    id_post_origin = row['id_post_origin']
    if id_post_origin != 0:
        infected_by = int(i_post[i_post['id_post'] == id_post_origin]['id_user'])
        i_post.loc[index,'infected_by'] = infected_by

In [9]:
i_post

,id_user,id_post,date,time,half_day,location,views,reposts,likes,comments,id_post_origin,link_clicks,donation_tag,donation_val,house_buy,infected_by
id_user,,,,,,,,,,,,,,,,
672702,672702,638779430,2017-11-09,07:53,am,Avignon,2,18,0,0,0,True,False,0,False,None
474227,474227,953043456,2017-11-09,02:03,am,Toulon,36,11,16,1,0,True,False,0,False,None
587566,587566,650889385,2017-11-09,02:57,am,Paris,59,11,8,1,0,True,False,0,False,None
483543,483543,144265898,2017-11-09,11:43,am,Lyon,21,14,9,2,0,True,False,0,False,None
394103,394103,955542283,2017-11-09,04:53,pm,Toulon,16,3,2,0,638779430,False,False,0,False,672702
866330,866330,723527339,2017-11-09,11:16,pm,Paris,23,8,6,0,650889385,False,False,0,False,587566
537720,537720,662638612,2017-11-09,07:56,pm,Paris,31,10,7,1,144265898,False,False,0,False,483543
993508,993508,547874736,2017-11-09,08:15,pm,Strasbourg,39,8,3,2,638779430,False,False,0,False,672702
695586,695586,823986367,2017-11-09,03:38,pm,Avignon,7,8,3,0,650889385,False,False,0,False,587566
391533,391533,938483485,2017-11-09,09:41,pm,Grenoble,66,7,23,3,638779430,True,False,0,False,672702
884135,884135,855036767,2017-11-09,03:60,pm,Versailles,31,11,3,0,638779430,False,False,0,False,672702
386018,386018,948983044,2017-11-09,12:12,pm,Bordeaux,17,6,4,0,144265898,False,False,0,False,483543
275395,275395,814088954,2017-11-09,00:50,pm,Paris,7,2,0,0,144265898,False,False,0,False,483543
715640,715640,367474713,2017-11-09,12:42,pm,Paris,74,6,11,5,638779430,False,False,0,False,672702
517595,517595,997125666,2017-11-09,08:12,pm,Courbevoie,143,10,71,8,144265898,False,False,0,False,483543
848006,848006,972167608,2017-11-09,01:21,pm,Lille,121,11,36,7,953043456,False,False,0,False,474227
945861,945861,774651272,2017-11-09,10:07,pm,Paris,68,7,27,6,638779430,False,False,0,False,672702
937222,937222,991154137,2017-11-09,08:41,pm,Reims,183,6,36,14,953043456,False,False,0,False,474227
552361,552361,834132714,2017-11-09,02:35,pm,Lyon,43,7,15,3,953043456,False,False,0,False,474227
717039,717039,509376048,2017-11-09,12:21,pm,Le Tampon,43,5,17,0,953043456,False,False,0,False,474227
485673,485673,844989061,2017-11-09,00:01,pm,Marseille,32,12,14,2,953043456,False,False,0,False,474227
635537,635537,156553588,2017-11-09,04:12,pm,Rueil-Malmaison,153,8,30,3,953043456,False,False,0,False,474227
575965,575965,206521432,2017-11-09,00:10,pm,Paris,33,5,9,2,638779430,False,False,0,False,672702
428655,428655,760062606,2017-11-09,10:46,pm,Paris,87,14,4,6,953043456,False,False,0,False,474227
589484,589484,297176418,2017-11-09,08:13,pm,Pau,76,8,11,0,650889385,False,False,0,False,587566
469342,469342,620222338,2017-11-09,00:10,pm,Le Tampon,158,10,31,15,144265898,False,False,0,False,483543
925025,925025,194393365,2017-11-09,05:20,pm,Montpellier,67,10,13,6,638779430,False,False,0,False,672702
428588,428588,553535281,2017-11-09,07:38,pm,Saint-Denis,72,7,3,3,638779430,True,False,0,False,672702
476754,476754,566723761,2017-11-09,03:40,pm,Saint-Paul,62,2,24,3,144265898,False,False,0,False,483543
400938,400938,975701606,2017-11-09,03:01,pm,Le Mans,20,6,2,1,638779430,False,False,0,False,672702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408109,408109,408702738,2017-11-16,05:37,am,Saint-Denis,15,0,6,0,585366166,False,False,0,False,621103
720340,720340,236267801,2017-11-16,00:14,am,OrlÃ©ans,197,0,78,11,219040346,False,False,0,False,741183
131644,131644,869759216,2017-11-16,12:55,am,Tourcoing,144,0,7,14,679834289,False,False,0,False,627377
817060,817060,821207548,2017-11-16,04:43,am,Saint-Denis,13,0,3,1,928010829,True,False,0,False,878510
319957,319957,992375157,2017-11-16,08:41,am,Angers,45,0,2,4,558855063,False,False,0,False,530495
794716,794716,855761273,2017-11-16,01:17,am,Toulon,46,0,4,4,670050684,False,False,0,False,697426
497846,497846,185247335,2017-11-16,09:24,am,CrÃ©teil,16,0,3,1,260694398,False,False,0,False,589582
499812,499812,618686343,2017-11-16,02:56,am,Marseille,213,0,95,10,294266062,False,False,0,False,624523
302805,302805,286377747,2017-11-16,05:10,am,Pau,35,0,1,1,658764751,True,False,0,False,432194
215515,215515,944131349,2017-11-16,06:25,am,Paris,23,0,11,0,702362799,False,False,0,False,229752
511003,511003,184794799,2017-11-16,04:09,am,Limoges,80,0,36,0,683114471,False,False,0,False,885443
113342,113342,136075197,2017-11-16,09:32,am,Marseille,23,0,10,0,473413329,True,False,0,False,650086
901822,901822,254160289,2017-11-16,01:30,am,Bordeaux,131,0,39,1,524774378,False,False,0,False,339696
886899,886899,647285710,2017-11-16,11:49,am,Dunkirk,32,0,12,2,618720833,False,False,0,False,849692
225418,225418,608461914,2017-11-16,10:59,am,Argenteuil,17,0,2,0,631474759,True,False,0,False,431180
964388,964388,983407753,2017-11-16,06:39,am,Marseille,51,0,20,5,585884916,False,False,0,False,368386
197246,197246,413412340,2017-11-16,03:47,am,Dunkirk,227,0,22,13,372397700,True,False,0,False,807004
343228,343228,618599609,2017-11-16,00:15,am,Reims,12,0,3,0,467708310,False,False,0,False,865118
765124,765124,171460575,2017-11-16,03:51,am,Lille,39,0,13,0,253166103,False,False,0,False,610323
589186,589186,828343210,2017-11-16,04:21,am,Lyon,51,0,2,2,183586495,False,False,0,False,945629
830625,830625,268726750,2017-11-16,08:49,am,Lyon,63,0,9,4,262660400,False,False,0,False,151743
618920,618920,261762302,2017-11-16,09:24,am,Paris,4,0,1,0,314208955,False,False,0,False,402163
326259,326259,726676140,2017-11-16,01:49,am,Nice,16,0,7,0,710371582,False,False,0,False,855179
646944,646944,522686906,2017-11-16,02:23,am,Saint-Denis,153,0,45,9,146860016,False,False,0,False,612406
841217,841217,464377365,2017-11-16,10:42,am,Amiens,191,0,66,5,438781115,False,False,0,False,881874
746387,746387,121744758,2017-11-16,00:57,am,Le Tampon,128,0,57,8,217804651,False,False,0,False,291614
404047,404047,794339349,2017-11-16,08:49,am,Mulhouse,129,0,38,7,138732663,False,False,0,False,239598
630873,630873,628294384,2017-11-16,09:59,am,Tourcoing,47,0,23,0,834132714,False,False,0,False,552361
719594,719594,358445633,2017-11-16,02:46,am,Toulouse,241,0,60,24,909133650,False,False,0,False,946336
639300,639300,225756005,2017-11-16,06:54,am,Antibes,7,0,3,0,465290461,False,False,0,False,293505

In [10]:
t_user.head()

,id_user,nb_followers,nb_following,nb_tweets,sex,birth_date,id_followers
id_user,,,,,,,
5662813,5662813,80,431,66,female,1985-11-11,"[2152321, 3954946, 3850627, 9664645, 9576070, ..."
6187946,6187946,189,171,75,male,1995-10-01,"[9904643, 7723529, 3763722, 8360535, 5897229, ..."
3122461,3122461,175,86,147,male,1982-03-20,"[2096133, 6092033, 8077327, 1885713, 7434770, ..."
1855435,1855435,217,35,121,female,1992-03-10,"[6206474, 4367884, 2206737, 3898900, 4445358, ..."
6561414,6561414,67,130,37,female,1991-12-03,"[1698176, 6092033, 5123435, 7344261, 4777606, ..."

In [17]:
#changing names of post table
t_post.rename(columns={'id_post':'id_tweet'}, inplace=True)
#t_post['id_post'] = t_post['id_tweet'] messes up the entire column

#changing names of users table
t_user.drop('birth_date',axis=1, inplace = True)
t_user.rename(columns={'id_tweet':'id_post'}, inplace=True)
i_user.rename(columns={'nb_posts':'nb_tweets'}, inplace=True)
i_post.rename(columns={'id_post_origin':'id_tweet_origin'}, inplace=True)

In [20]:
i_post

,id_user,id_post,date,time,half_day,location,views,reposts,likes,comments,id_tweet_origin,link_clicks,donation_tag,donation_val,house_buy
id_user,,,,,,,,,,,,,,,
672702,672702,638779430,2017-11-09,07:53,am,Avignon,2,18,0,0,0,True,False,0,False
474227,474227,953043456,2017-11-09,02:03,am,Toulon,36,11,16,1,0,True,False,0,False
587566,587566,650889385,2017-11-09,02:57,am,Paris,59,11,8,1,0,True,False,0,False
483543,483543,144265898,2017-11-09,11:43,am,Lyon,21,14,9,2,0,True,False,0,False
394103,394103,955542283,2017-11-09,04:53,pm,Toulon,16,3,2,0,638779430,False,False,0,False
866330,866330,723527339,2017-11-09,11:16,pm,Paris,23,8,6,0,650889385,False,False,0,False
537720,537720,662638612,2017-11-09,07:56,pm,Paris,31,10,7,1,144265898,False,False,0,False
993508,993508,547874736,2017-11-09,08:15,pm,Strasbourg,39,8,3,2,638779430,False,False,0,False
695586,695586,823986367,2017-11-09,03:38,pm,Avignon,7,8,3,0,650889385,False,False,0,False
391533,391533,938483485,2017-11-09,09:41,pm,Grenoble,66,7,23,3,638779430,True,False,0,False
884135,884135,855036767,2017-11-09,03:60,pm,Versailles,31,11,3,0,638779430,False,False,0,False
386018,386018,948983044,2017-11-09,12:12,pm,Bordeaux,17,6,4,0,144265898,False,False,0,False
275395,275395,814088954,2017-11-09,00:50,pm,Paris,7,2,0,0,144265898,False,False,0,False
715640,715640,367474713,2017-11-09,12:42,pm,Paris,74,6,11,5,638779430,False,False,0,False
517595,517595,997125666,2017-11-09,08:12,pm,Courbevoie,143,10,71,8,144265898,False,False,0,False
848006,848006,972167608,2017-11-09,01:21,pm,Lille,121,11,36,7,953043456,False,False,0,False
945861,945861,774651272,2017-11-09,10:07,pm,Paris,68,7,27,6,638779430,False,False,0,False
937222,937222,991154137,2017-11-09,08:41,pm,Reims,183,6,36,14,953043456,False,False,0,False
552361,552361,834132714,2017-11-09,02:35,pm,Lyon,43,7,15,3,953043456,False,False,0,False
717039,717039,509376048,2017-11-09,12:21,pm,Le Tampon,43,5,17,0,953043456,False,False,0,False
485673,485673,844989061,2017-11-09,00:01,pm,Marseille,32,12,14,2,953043456,False,False,0,False
635537,635537,156553588,2017-11-09,04:12,pm,Rueil-Malmaison,153,8,30,3,953043456,False,False,0,False
575965,575965,206521432,2017-11-09,00:10,pm,Paris,33,5,9,2,638779430,False,False,0,False
428655,428655,760062606,2017-11-09,10:46,pm,Paris,87,14,4,6,953043456,False,False,0,False
589484,589484,297176418,2017-11-09,08:13,pm,Pau,76,8,11,0,650889385,False,False,0,False
469342,469342,620222338,2017-11-09,00:10,pm,Le Tampon,158,10,31,15,144265898,False,False,0,False
925025,925025,194393365,2017-11-09,05:20,pm,Montpellier,67,10,13,6,638779430,False,False,0,False
428588,428588,553535281,2017-11-09,07:38,pm,Saint-Denis,72,7,3,3,638779430,True,False,0,False
476754,476754,566723761,2017-11-09,03:40,pm,Saint-Paul,62,2,24,3,144265898,False,False,0,False
400938,400938,975701606,2017-11-09,03:01,pm,Le Mans,20,6,2,1,638779430,False,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408109,408109,408702738,2017-11-16,05:37,am,Saint-Denis,15,0,6,0,585366166,False,False,0,False
720340,720340,236267801,2017-11-16,00:14,am,OrlÃ©ans,197,0,78,11,219040346,False,False,0,False
131644,131644,869759216,2017-11-16,12:55,am,Tourcoing,144,0,7,14,679834289,False,False,0,False
817060,817060,821207548,2017-11-16,04:43,am,Saint-Denis,13,0,3,1,928010829,True,False,0,False
319957,319957,992375157,2017-11-16,08:41,am,Angers,45,0,2,4,558855063,False,False,0,False
794716,794716,855761273,2017-11-16,01:17,am,Toulon,46,0,4,4,670050684,False,False,0,False
497846,497846,185247335,2017-11-16,09:24,am,CrÃ©teil,16,0,3,1,260694398,False,False,0,False
499812,499812,618686343,2017-11-16,02:56,am,Marseille,213,0,95,10,294266062,False,False,0,False
302805,302805,286377747,2017-11-16,05:10,am,Pau,35,0,1,1,658764751,True,False,0,False
215515,215515,944131349,2017-11-16,06:25,am,Paris,23,0,11,0,702362799,False,False,0,False
511003,511003,184794799,2017-11-16,04:09,am,Limoges,80,0,36,0,683114471,False,False,0,False
113342,113342,136075197,2017-11-16,09:32,am,Marseille,23,0,10,0,473413329,True,False,0,False
901822,901822,254160289,2017-11-16,01:30,am,Bordeaux,131,0,39,1,524774378,False,False,0,False
886899,886899,647285710,2017-11-16,11:49,am,Dunkirk,32,0,12,2,618720833,False,False,0,False
225418,225418,608461914,2017-11-16,10:59,am,Argenteuil,17,0,2,0,631474759,True,False,0,False
964388,964388,983407753,2017-11-16,06:39,am,Marseille,51,0,20,5,585884916,False,False,0,False
197246,197246,413412340,2017-11-16,03:47,am,Dunkirk,227,0,22,13,372397700,True,False,0,False
343228,343228,618599609,2017-11-16,00:15,am,Reims,12,0,3,0,467708310,False,False,0,False
765124,765124,171460575,2017-11-16,03:51,am,Lille,39,0,13,0,253166103,False,False,0,False
589186,589186,828343210,2017-11-16,04:21,am,Lyon,51,0,2,2,183586495,False,False,0,False
830625,830625,268726750,2017-11-16,08:49,am,Lyon,63,0,9,4,262660400,False,False,0,False
618920,618920,261762302,2017-11-16,09:24,am,Paris,4,0,1,0,314208955,False,False,0,False
326259,326259,726676140,2017-11-16,01:49,am,Nice,16,0,7,0,710371582,False,False,0,False
646944,646944,522686906,2017-11-16,02:23,am,Saint-Denis,153,0,45,9,146860016,False,False,0,False
841217,841217,464377365,2017-11-16,10:42,am,Amiens,191,0,66,5,438781115,False,False,0,False
746387,746387,121744758,2017-11-16,00:57,am,Le Tampon,128,0,57,8,217804651,False,False,0,False
404047,404047,794339349,2017-11-16,08:49,am,Mulhouse,129,0,38,7,138732663,False,False,0,False
630873,630873,628294384,2017-11-16,09:59,am,Tourcoing,47,0,23,0,834132714,False,False,0,False
719594,719594,358445633,2017-11-16,02:46,am,Toulouse,241,0,60,24,909133650,False,False,0,False
639300,639300,225756005,2017-11-16,06:54,am,Antibes,7,0,3,0,465290461,False,False,0,False

In [18]:
#unifying posts

columns = ['id_user','id_post', 'infected_by', 'date','time','half_day']

df = pd.concat([i_post, t_post], axis=0)
df['time']=df["time"].astype('|S')

#unifying users
users = pd.concat([t_user,i_user], axis = 0)

C:\Users\menoci\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [21]:
t_post

,id_user,id_tweet,date,time,half_day,location,views,likes,comments,retweets,id_tweet_origin,link_clicks,donation_tag,donation_val,house_buy
id_user,,,,,,,,,,,,,,,
9834565,9834565,18271010,2017-11-09,09:41:00,am,Montreuil,62,24,2,16,0,False,False,0,False
1953787,1953787,55199327,2017-11-09,08:17:00,am,Reims,148,66,8,19,0,False,False,0,False
6013435,6013435,81242015,2017-11-09,05:18:00,am,Paris,78,23,0,10,0,False,False,0,False
3027418,3027418,68398591,2017-11-09,10:03:00,am,Villeurbanne,208,62,8,20,0,False,False,0,False
6027974,6027974,94580818,2017-11-09,08:10:00,am,Paris,23,9,0,18,0,False,False,0,False
3003097,3003097,48168379,2017-11-09,02:53:00,am,Marseille,26,9,1,20,0,False,False,0,False
9266081,9266081,50443972,2017-11-09,02:55:00,pm,Angers,93,23,2,9,48168379,False,False,0,False
5265603,5265603,53869774,2017-11-09,04:26:00,pm,Strasbourg,78,7,7,6,18271010,False,False,0,False
8820586,8820586,94306511,2017-11-09,07:23:00,pm,Tourcoing,35,15,0,3,81242015,False,False,0,False
3776734,3776734,95227566,2017-11-09,02:12:00,pm,Saint-Denis,83,33,0,8,18271010,False,False,0,False
1739224,1739224,75571293,2017-11-09,03:04:00,pm,Rennes,93,9,1,9,94580818,False,False,0,False
7018816,7018816,24179887,2017-11-09,01:06:00,pm,Lyon,52,5,1,5,48168379,False,False,0,False
4918010,4918010,18790221,2017-11-09,11:14:00,pm,Lyon,54,13,3,7,55199327,False,False,0,False
9094938,9094938,56664793,2017-11-09,10:07:00,pm,Antibes,36,10,0,7,18271010,False,False,0,False
6670174,6670174,66754199,2017-11-09,05:09:00,pm,Villeurbanne,45,15,1,7,94580818,False,False,0,False
9528700,9528700,29590318,2017-11-09,00:04:00,pm,Rennes,26,11,1,2,48168379,False,False,0,False
9034442,9034442,94683746,2017-11-09,10:12:00,pm,Boulogne-Billancourt,32,8,2,5,68398591,False,False,0,False
9617826,9617826,58400721,2017-11-09,11:14:00,pm,Marseille,72,18,5,8,68398591,True,False,0,False
1393450,1393450,28867560,2017-11-09,08:58:00,pm,Boulogne-Billancourt,6,1,0,5,55199327,False,False,0,False
2267169,2267169,73754419,2017-11-09,07:36:00,pm,Strasbourg,39,17,0,3,48168379,False,False,0,False
4984956,4984956,41726302,2017-11-09,08:13:00,pm,Lyon,7,0,0,6,48168379,False,False,0,False
6143749,6143749,93675897,2017-11-09,07:43:00,pm,Strasbourg,11,1,0,3,18271010,False,False,0,False
3672938,3672938,36969380,2017-11-09,10:05:00,pm,Toulouse,39,1,3,5,94580818,False,True,20,False
3728065,3728065,36624600,2017-11-09,10:58:00,pm,Paris,19,0,1,5,94580818,False,False,0,False
2644523,2644523,39691532,2017-11-09,05:20:00,pm,Caen,13,6,0,2,55199327,False,False,0,False
5107681,5107681,34755024,2017-11-09,04:33:00,pm,Lyon,130,6,1,10,18271010,False,False,0,False
7696107,7696107,22067787,2017-11-09,04:18:00,pm,Paris,65,13,3,5,94580818,False,False,0,False
1437408,1437408,60889102,2017-11-09,01:06:00,pm,Marseille,6,2,0,5,81242015,False,False,0,False
2284684,2284684,12708972,2017-11-09,07:28:00,pm,Dijon,128,44,11,11,68398591,False,False,0,False
3965644,3965644,40503168,2017-11-09,00:11:00,pm,NÃ®mes,39,1,2,5,68398591,False,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132987,8132987,95523237,2017-11-15,12:52:00,am,Lyon,0,0,0,0,13888699,True,False,0,False
3774834,3774834,45773783,2017-11-15,07:40:00,am,Rouen,0,0,0,0,15270311,False,False,0,False
5303915,5303915,80920273,2017-11-15,11:11:00,pm,Champigny-sur-Marne,0,0,0,0,70352242,False,False,0,False
8427219,8427219,90051054,2017-11-15,01:54:00,pm,BesanÃ§on,0,0,0,0,11728683,False,False,0,False
6608119,6608119,79924173,2017-11-15,10:37:00,pm,Saint-Denis,0,0,0,0,81700452,False,False,0,False
8356037,8356037,94504944,2017-11-15,08:39:00,pm,Tourcoing,0,0,0,0,90823801,True,False,0,False
1225225,1225225,21615858,2017-11-15,00:31:00,pm,Mulhouse,0,0,0,0,79458483,False,False,0,False
8187425,8187425,66007116,2017-11-15,01:48:00,pm,Reims,0,0,0,0,34404678,False,False,0,False
5564217,5564217,96775328,2017-11-15,07:38:00,pm,Paris,0,0,0,0,47900018,False,False,0,False
3468669,3468669,63699306,2017-11-15,10:42:00,pm,Montpellier,0,0,0,0,57683124,False,False,0,False
8124598,8124598,20928614,2017-11-15,05:22:00,pm,Montpellier,0,0,0,0,46548075,False,False,0,False
4759192,4759192,86739346,2017-11-15,09:40:00,pm,Paris,0,0,0,0,95084333,False,False,0,False
9755667,9755667,70889496,2017-11-15,06:38:00,pm,Dijon,0,0,0,0,67401122,False,False,0,False
2911378,2911378,93668532,2017-11-15,01:22:00,pm,Perpignan,0,0,0,0,75858369,False,False,0,False
1957513,1957513,78468307,2017-11-15,03:09:00,pm,Nanterre,0,0,0,0,65272411,True,False,0,False
3011442,3011442,95745605,2017-11-15,02:27:00,pm,Aix-en-Provence,0,0,0,0,18414009,False,False,0,False
8228478,8228478,52212688,2017-11-15,00:07:00,pm,Nantes,0,0,0,0,96334403,False,False,0,False
6648698,6648698,37458981,2017-11-15,05:38:00,pm,Lyon,0,0,0,0,55405053,False,False,0,False
4549449,4549449,49764497,2017-11-15,10:01:00,pm,Nanterre,0,0,0,0,33792686,False,False,0,False
8707533,8707533,12038558,2017-11-15,05:07:00,pm,Pau,0,0,0,0,56606204,True,False,0,False
7094639,7094639,42362531,2017-11-15,10:11:00,pm,Tours,0,0,0,0,81539551,False,False,0,False
8876094,8876094,63679637,2017-11-15,02:01:00,pm,Saint-Paul,0,0,0,0,34694301,False,False,0,False
5081814,5081814,74429769,2017-11-16,02:42:00,am,Bordeaux,0,0,0,0,99023064,True,False,0,False
2667343,2667343,41831454,2017-11-16,10:17:00,am,Colombes,0,0,0,0,14088127,False,False,0,False
8249645,8249645,20703422,2017-11-16,00:31:00,am,Marseille,0,0,0,0,93768878,False,False,0,False
2501998,2501998,25065786,2017-11-16,06:21:00,am,OrlÃ©ans,0,0,0,0,99360827,False,False,0,False
6688856,6688856,20811006,2017-11-16,08:53:00,am,Montpellier,0,0,0,0,52949336,False,False,0,False
9107295,9107295,54211417,2017-11-16,05:54:00,am,Paris,0,0,0,0,89155720,False,False,0,False
8706378,8706378,45932045,2017-11-16,03:15:00,am,Courbevoie,0,0,0,0,35745015,False,False,0,False
9767920,9767920,97744700,2017-11-16,01:43:00,am,Paris,0,0,0,0,12940345,False,False,0,False

In [19]:
df

,comments,date,donation_tag,donation_val,half_day,house_buy,id_post,id_tweet,id_tweet_origin,id_user,likes,link_clicks,location,reposts,retweets,time,views
id_user,,,,,,,,,,,,,,,,,
672702,0,2017-11-09,False,0,am,False,638779430.0,NaN,0,672702,0,True,Avignon,18.0,NaN,b'07:53',2
474227,1,2017-11-09,False,0,am,False,953043456.0,NaN,0,474227,16,True,Toulon,11.0,NaN,b'02:03',36
587566,1,2017-11-09,False,0,am,False,650889385.0,NaN,0,587566,8,True,Paris,11.0,NaN,b'02:57',59
483543,2,2017-11-09,False,0,am,False,144265898.0,NaN,0,483543,9,True,Lyon,14.0,NaN,b'11:43',21
394103,0,2017-11-09,False,0,pm,False,955542283.0,NaN,638779430,394103,2,False,Toulon,3.0,NaN,b'04:53',16
866330,0,2017-11-09,False,0,pm,False,723527339.0,NaN,650889385,866330,6,False,Paris,8.0,NaN,b'11:16',23
537720,1,2017-11-09,False,0,pm,False,662638612.0,NaN,144265898,537720,7,False,Paris,10.0,NaN,b'07:56',31
993508,2,2017-11-09,False,0,pm,False,547874736.0,NaN,638779430,993508,3,False,Strasbourg,8.0,NaN,b'08:15',39
695586,0,2017-11-09,False,0,pm,False,823986367.0,NaN,650889385,695586,3,False,Avignon,8.0,NaN,b'03:38',7
391533,3,2017-11-09,False,0,pm,False,938483485.0,NaN,638779430,391533,23,True,Grenoble,7.0,NaN,b'09:41',66
884135,0,2017-11-09,False,0,pm,False,855036767.0,NaN,638779430,884135,3,False,Versailles,11.0,NaN,b'03:60',31
386018,0,2017-11-09,False,0,pm,False,948983044.0,NaN,144265898,386018,4,False,Bordeaux,6.0,NaN,b'12:12',17
275395,0,2017-11-09,False,0,pm,False,814088954.0,NaN,144265898,275395,0,False,Paris,2.0,NaN,b'00:50',7
715640,5,2017-11-09,False,0,pm,False,367474713.0,NaN,638779430,715640,11,False,Paris,6.0,NaN,b'12:42',74
517595,8,2017-11-09,False,0,pm,False,997125666.0,NaN,144265898,517595,71,False,Courbevoie,10.0,NaN,b'08:12',143
848006,7,2017-11-09,False,0,pm,False,972167608.0,NaN,953043456,848006,36,False,Lille,11.0,NaN,b'01:21',121
945861,6,2017-11-09,False,0,pm,False,774651272.0,NaN,638779430,945861,27,False,Paris,7.0,NaN,b'10:07',68
937222,14,2017-11-09,False,0,pm,False,991154137.0,NaN,953043456,937222,36,False,Reims,6.0,NaN,b'08:41',183
552361,3,2017-11-09,False,0,pm,False,834132714.0,NaN,953043456,552361,15,False,Lyon,7.0,NaN,b'02:35',43
717039,0,2017-11-09,False,0,pm,False,509376048.0,NaN,953043456,717039,17,False,Le Tampon,5.0,NaN,b'12:21',43
485673,2,2017-11-09,False,0,pm,False,844989061.0,NaN,953043456,485673,14,False,Marseille,12.0,NaN,b'00:01',32
635537,3,2017-11-09,False,0,pm,False,156553588.0,NaN,953043456,635537,30,False,Rueil-Malmaison,8.0,NaN,b'04:12',153
575965,2,2017-11-09,False,0,pm,False,206521432.0,NaN,638779430,575965,9,False,Paris,5.0,NaN,b'00:10',33
428655,6,2017-11-09,False,0,pm,False,760062606.0,NaN,953043456,428655,4,False,Paris,14.0,NaN,b'10:46',87
589484,0,2017-11-09,False,0,pm,False,297176418.0,NaN,650889385,589484,11,False,Pau,8.0,NaN,b'08:13',76
469342,15,2017-11-09,False,0,pm,False,620222338.0,NaN,144265898,469342,31,False,Le Tampon,10.0,NaN,b'00:10',158
925025,6,2017-11-09,False,0,pm,False,194393365.0,NaN,638779430,925025,13,False,Montpellier,10.0,NaN,b'05:20',67
428588,3,2017-11-09,False,0,pm,False,553535281.0,NaN,638779430,428588,3,True,Saint-Denis,7.0,NaN,b'07:38',72
476754,3,2017-11-09,False,0,pm,False,566723761.0,NaN,144265898,476754,24,False,Saint-Paul,2.0,NaN,b'03:40',62
400938,1,2017-11-09,False,0,pm,False,975701606.0,NaN,638779430,400938,2,False,Le Mans,6.0,NaN,b'03:01',20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132987,0,2017-11-15,False,0,am,False,NaN,95523237.0,13888699,8132987,0,True,Lyon,NaN,0.0,b'12:52:00',0
3774834,0,2017-11-15,False,0,am,False,NaN,45773783.0,15270311,3774834,0,False,Rouen,NaN,0.0,b'07:40:00',0
5303915,0,2017-11-15,False,0,pm,False,NaN,80920273.0,70352242,5303915,0,False,Champigny-sur-Marne,NaN,0.0,b'11:11:00',0
8427219,0,2017-11-15,False,0,pm,False,NaN,90051054.0,11728683,8427219,0,False,BesanÃ§on,NaN,0.0,b'01:54:00',0
6608119,0,2017-11-15,False,0,pm,False,NaN,79924173.0,81700452,6608119,0,False,Saint-Denis,NaN,0.0,b'10:37:00',0
8356037,0,2017-11-15,False,0,pm,False,NaN,94504944.0,90823801,8356037,0,True,Tourcoing,NaN,0.0,b'08:39:00',0
1225225,0,2017-11-15,False,0,pm,False,NaN,21615858.0,79458483,1225225,0,False,Mulhouse,NaN,0.0,b'00:31:00',0
8187425,0,2017-11-15,False,0,pm,False,NaN,66007116.0,34404678,8187425,0,False,Reims,NaN,0.0,b'01:48:00',0
5564217,0,2017-11-15,False,0,pm,False,NaN,96775328.0,47900018,5564217,0,False,Paris,NaN,0.0,b'07:38:00',0
3468669,0,2017-11-15,False,0,pm,False,NaN,63699306.0,57683124,3468669,0,False,Montpellier,NaN,0.0,b'10:42:00',0
8124598,0,2017-11-15,False,0,pm,False,NaN,20928614.0,46548075,8124598,0,False,Montpellier,NaN,0.0,b'05:22:00',0
4759192,0,2017-11-15,False,0,pm,False,NaN,86739346.0,95084333,4759192,0,False,Paris,NaN,0.0,b'09:40:00',0
9755667,0,2017-11-15,False,0,pm,False,NaN,70889496.0,67401122,9755667,0,False,Dijon,NaN,0.0,b'06:38:00',0
2911378,0,2017-11-15,False,0,pm,False,NaN,93668532.0,75858369,2911378,0,False,Perpignan,NaN,0.0,b'01:22:00',0
1957513,0,2017-11-15,False,0,pm,False,NaN,78468307.0,65272411,1957513,0,True,Nanterre,NaN,0.0,b'03:09:00',0
3011442,0,2017-11-15,False,0,pm,False,NaN,95745605.0,18414009,3011442,0,False,Aix-en-Provence,NaN,0.0,b'02:27:00',0
8228478,0,2017-11-15,False,0,pm,False,NaN,52212688.0,96334403,8228478,0,False,Nantes,NaN,0.0,b'00:07:00',0
6648698,0,2017-11-15,False,0,pm,False,NaN,37458981.0,55405053,6648698,0,False,Lyon,NaN,0.0,b'05:38:00',0
4549449,0,2017-11-15,False,0,pm,False,NaN,49764497.0,33792686,4549449,0,False,Nanterre,NaN,0.0,b'10:01:00',0
8707533,0,2017-11-15,False,0,pm,False,NaN,12038558.0,56606204,8707533,0,True,Pau,NaN,0.0,b'05:07:00',0
7094639,0,2017-11-15,False,0,pm,False,NaN,42362531.0,81539551,7094639,0,False,Tours,NaN,0.0,b'10:11:00',0
8876094,0,2017-11-15,False,0,pm,False,NaN,63679637.0,34694301,8876094,0,False,Saint-Paul,NaN,0.0,b'02:01:00',0
5081814,0,2017-11-16,False,0,am,False,NaN,74429769.0,99023064,5081814,0,True,Bordeaux,NaN,0.0,b'02:42:00',0
2667343,0,2017-11-16,False,0,am,False,NaN,41831454.0,14088127,2667343,0,False,Colombes,NaN,0.0,b'10:17:00',0
8249645,0,2017-11-16,False,0,am,False,NaN,20703422.0,93768878,8249645,0,False,Marseille,NaN,0.0,b'00:31:00',0
2501998,0,2017-11-16,False,0,am,False,NaN,25065786.0,99360827,2501998,0,False,OrlÃ©ans,NaN,0.0,b'06:21:00',0
6688856,0,2017-11-16,False,0,am,False,NaN,20811006.0,52949336,6688856,0,False,Montpellier,NaN,0.0,b'08:53:00',0
9107295,0,2017-11-16,False,0,am,False,NaN,54211417.0,89155720,9107295,0,False,Paris,NaN,0.0,b'05:54:00',0
8706378,0,2017-11-16,False,0,am,False,NaN,45932045.0,35745015,8706378,0,False,Courbevoie,NaN,0.0,b'03:15:00',0
9767920,0,2017-11-16,False,0,am,False,NaN,97744700.0,12940345,9767920,0,False,Paris,NaN,0.0,b'01:43:00',0

In [ ]:
#sorting values by date
df = df.sort_values(by=['date', 'half_day','time'])

In [ ]:
users

In [119]:
#construction of the graph
G = nx.DiGraph()
elist = []
for node, row in users.iterrows():
    #row['id_followers'] = row['id_followers'][1:-1].split(',')
    #adj_list.append((index,row['id_followers']))
    neighbors = row['id_followers'][1:-1].split(', ')
    #print(neighbors, type(neighbors))
    #print(neighbor)
    G.add_node(node)
    for n in neighbors:
        G.add_node(int(n))
        elist.append((node,int(n)))
G.add_edges_from(elist)

In [120]:
len(G)

7144

In [121]:
## I) Scan algorithm

In [122]:
#mapping between integers from 0 to max to vertices

In [123]:
mp = {}
i = 0
for index in list(df.index):
    mp[index] = i
    i += 1

In [124]:
len(mapping)

7144

In [138]:
def gamma(graph,v,u):
    return 1/graph.in_degree(u)

In [151]:
def scan(graph,L,lamb):
    '''Prend en argument:
    - graph, le graphe du rÃ©seau social
    - L, le log
    - lamb, un rÃ©el qui joue le rÃ´le de seuil de troncature
    Renvoie un dictionnaire UC tel que UC[u][v] = Gamma_{v,u}^{V-S}'''
    UC = np.zeros((len(mapping)+1,len(mapping)+1))
    current_table = []
    node_list = L['id_user'] 
    parents = {}
    #for v in node_list: #Initialisation de UC
    #    UC[:][mp[v]] = 0
        
    for u in node_list:
        parents[mp[u]] = []
        #for v in node_list:
        #    UC[mp[v]][mp[u]] = 0
        if u in graph.nodes():
            for v in graph.neighbors(u):
                if v in current_table:
                    parents[mp[u]] += [v]
                
            for v in parents[mp[u]]:
                gamma2 = gamma(graph,v,u)
                if gamma2 >= lamb:
                    UC[mp[v]][mp[u]] += gamma2
                    for w in node_list:
                        if UC[mp[w]][mp[v]]*gamma2 >= lamb:
                            UC[mp[w]][mp[u]] += gamma2*UC[mp[w]][mp[v]]
        current_table += [u]
    return UC

In [152]:
## II) Algorithm Greedy with CELF

In [153]:
def computeMG(x,UC,SC):
    mg = 1
    for u in node_list:
        if UC[x][u] > 0:
            mg += UC[x][u]
    return mg*(1 - SC[x])

In [154]:
def update(x,UC,SC):
    for u in node_list:
        if UC[x][u] > 0:
            for v in node_list:
                if UC[v][x] > 0:
                    UC[v][u] -= UC[v][x] * UC[x][u]
            SC[u] += UC[x][u]*(1-SC[x])

In [155]:
def greedy(UC,k,L):
    SC = []
    S = []
    Q = []
    node_list = L['id_user']
    for u in node_list:
        mg = computeMG(u,UC,SC)
        it = 0
        Q = [(u,mg,it)] + Q
    while len(S) < k:
        (x,mg,it) = Q.pop()
        if it == len(S):
            S.append((x,mg,it))
            update((x,mg,it),UC,SC)
        else:
            mg = computeMG(x,UC,SC)
            it = len(S)
            Q = [(x,mg,it)] + Q
    return S

In [156]:
UC = scan(G,df,0.001)

In [157]:
UC

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.00609756,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [1]:
list(UC)

NameError: name 'UC' is not defined