In [93]:
import pandas as pd
import numpy as np

In [140]:
'''
This function adds a column at each row with the user_id that "infected" the row and NaN if it wasn't infected by anyone (seed)
'''

def get_father(log):
    for index, row in log.iterrows():
        id_post_origin = row['id_tweet_origin'] #change id_tweet_origin to id_post_origin if needed
        if id_post_origin != 0:
            infected_by = int(log[log['id_tweet'] == id_post_origin]['id_user']) #change id_tweet to id_post if needed
            log.loc[index,'infected_by'] = infected_by
    return

In [134]:
'''
Input: Paths of the two database files
Output: Dataframe sorted by time and with a column "infected_by"
'''
def trating_data(instagram_path, twitter_path):
    #importing instagram data
    dfs_i = pd.read_excel(instagram_path, sheet_name= None, date_parser  = int)
    i_post, i_user = dfs_i[list(dfs_i.keys())[1]] , dfs_i[list(dfs_i.keys())[2]]
    #i_user.rename(columns={'nb_posts':'nb_tweets'}, inplace=True)
    #i_post.rename(columns={'id_post_origin':'id_tweet_origin'}, inplace=True)
    get_father(i_post)
    
    #importing twitter data
    dfs_t = pd.read_excel(twitter_path, sheet_name= None, date_parser  = int)
    t_post, t_user = dfs_t[list(dfs_t.keys())[1]] , dfs_t[list(dfs_t.keys())[2]]
    t_user.rename(columns={'id_tweet':'id_post'}, inplace=True)
    get_father(t_post)

    columns = ['id_user','id_post', 'infected_by', 'date','time','half_day']
    
    df = pd.concat([i_post[columns], t_post[columns]], axis=0)
    
    return df

In [135]:
instagram_path = "C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/instagram_dataset.xlsx"
twitter_path = "C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/twitter_dataset.xlsx"

## ERXCTRYVGUBHINJO?K

In [141]:
#importing instagram data
dfs_i = pd.read_excel("C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/instagram_dataset.xlsx", sheet_name= None, date_parser  = int)
i_post, i_user = dfs_i[list(dfs_i.keys())[1]] , dfs_i[list(dfs_i.keys())[2]]
i_post.rename(columns={'id_post':'id_tweet'}, inplace=True)
i_post.rename(columns={'id_post_origin':'id_tweet_origin'}, inplace=True)
#get_father(i_post)

In [142]:
'''
Input: Log (t_post) and the seeds (seed_set)
Output: the DNI list
Measures how good are the seeds (seed_set) chosen given the trace (log) = t_post

'''
def get_dni(log, seed_set):
    t_post = log.copy()
    t_post['time'] = t_post["time"].astype('|S') #already done
    t_post = t_post.sort_values(by=['date', 'half_day','time']) #already done
    get_father(t_post) #already done
    t_post.reset_index(drop = True, inplace = True) #the smaller the index, sooner the post was shared
    t_post['index'] = t_post.index
    
    DNI = set({})
    for node in seed_set:
        index_node = t_post[ t_post['id_user']==node].index.values[0] #didn't find an easier way to get the index
        to_visit = [node]
        while to_visit:
            x = to_visit.pop()
            if x not in DNI:
                for infected_by_x in list(t_post[t_post['infected_by']== x ][t_post['index'] >= index_node]['id_user']):
                    if infected_by_x not in DNI:
                        to_visit.append(infected_by_x)
                DNI.add(x)
    return DNI

In [143]:
"Let's check if the code is working well by trying the seed set as being the real one with twitter's log"

# importing twitter's data:
dfs_t = pd.read_excel("C:/Users/menoci/Desktop/modelisation/Propagation_Virale/INTEGRATION_WEEK/twitter_dataset.xlsx", sheet_name= None, date_parser  = int)
t_post, t_user = dfs_t[list(dfs_t.keys())[1]] , dfs_t[list(dfs_t.keys())[2]]

seed_set = [3003097,6013435,6027974,1953787,9834565,3027418]
DNI = get_dni(t_post, seed_set)

C:\Users\menoci\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [144]:
len(DNI)

4098

In [86]:
"let's try with a smaller set and see the result"
seed_set = [3003097,6013435]
DNI2 = get_dni(t_post, seed_set)

C:\Users\menoci\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [87]:
len(DNI2)

1116

In [114]:
"Let's try Instagram's data"
seed_set = [672702,474227,587566,483543]
DNI_insta = get_dni(i_post, seed_set)
len(DNI_insta)

C:\Users\menoci\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

3046

In [116]:
len(set(i_post.id_user))

3046

In [96]:
t_post

,id_user,id_tweet,date,time,half_day,location,views,likes,comments,retweets,id_tweet_origin,link_clicks,donation_tag,donation_val,house_buy
0,9834565,18271010,2017-11-09,09:41:00,am,Montreuil,62,24,2,16,0,False,False,0,False
1,1953787,55199327,2017-11-09,08:17:00,am,Reims,148,66,8,19,0,False,False,0,False
2,6013435,81242015,2017-11-09,05:18:00,am,Paris,78,23,0,10,0,False,False,0,False
3,3027418,68398591,2017-11-09,10:03:00,am,Villeurbanne,208,62,8,20,0,False,False,0,False
4,6027974,94580818,2017-11-09,08:10:00,am,Paris,23,9,0,18,0,False,False,0,False
5,3003097,48168379,2017-11-09,02:53:00,am,Marseille,26,9,1,20,0,False,False,0,False
6,9266081,50443972,2017-11-09,02:55:00,pm,Angers,93,23,2,9,48168379,False,False,0,False
7,5265603,53869774,2017-11-09,04:26:00,pm,Strasbourg,78,7,7,6,18271010,False,False,0,False
8,8820586,94306511,2017-11-09,07:23:00,pm,Tourcoing,35,15,0,3,81242015,False,False,0,False
9,3776734,95227566,2017-11-09,02:12:00,pm,Saint-Denis,83,33,0,8,18271010,False,False,0,False
10,1739224,75571293,2017-11-09,03:04:00,pm,Rennes,93,9,1,9,94580818,False,False,0,False
11,7018816,24179887,2017-11-09,01:06:00,pm,Lyon,52,5,1,5,48168379,False,False,0,False
12,4918010,18790221,2017-11-09,11:14:00,pm,Lyon,54,13,3,7,55199327,False,False,0,False
13,9094938,56664793,2017-11-09,10:07:00,pm,Antibes,36,10,0,7,18271010,False,False,0,False
14,6670174,66754199,2017-11-09,05:09:00,pm,Villeurbanne,45,15,1,7,94580818,False,False,0,False
15,9528700,29590318,2017-11-09,00:04:00,pm,Rennes,26,11,1,2,48168379,False,False,0,False
16,9034442,94683746,2017-11-09,10:12:00,pm,Boulogne-Billancourt,32,8,2,5,68398591,False,False,0,False
17,9617826,58400721,2017-11-09,11:14:00,pm,Marseille,72,18,5,8,68398591,True,False,0,False
18,1393450,28867560,2017-11-09,08:58:00,pm,Boulogne-Billancourt,6,1,0,5,55199327,False,False,0,False
19,2267169,73754419,2017-11-09,07:36:00,pm,Strasbourg,39,17,0,3,48168379,False,False,0,False
20,4984956,41726302,2017-11-09,08:13:00,pm,Lyon,7,0,0,6,48168379,False,False,0,False
21,6143749,93675897,2017-11-09,07:43:00,pm,Strasbourg,11,1,0,3,18271010,False,False,0,False
22,3672938,36969380,2017-11-09,10:05:00,pm,Toulouse,39,1,3,5,94580818,False,True,20,False
23,3728065,36624600,2017-11-09,10:58:00,pm,Paris,19,0,1,5,94580818,False,False,0,False
24,2644523,39691532,2017-11-09,05:20:00,pm,Caen,13,6,0,2,55199327,False,False,0,False
25,5107681,34755024,2017-11-09,04:33:00,pm,Lyon,130,6,1,10,18271010,False,False,0,False
26,7696107,22067787,2017-11-09,04:18:00,pm,Paris,65,13,3,5,94580818,False,False,0,False
27,1437408,60889102,2017-11-09,01:06:00,pm,Marseille,6,2,0,5,81242015,False,False,0,False
28,2284684,12708972,2017-11-09,07:28:00,pm,Dijon,128,44,11,11,68398591,False,False,0,False
29,3965644,40503168,2017-11-09,00:11:00,pm,Nîmes,39,1,2,5,68398591,False,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4068,8132987,95523237,2017-11-15,12:52:00,am,Lyon,0,0,0,0,13888699,True,False,0,False
4069,3774834,45773783,2017-11-15,07:40:00,am,Rouen,0,0,0,0,15270311,False,False,0,False
4070,5303915,80920273,2017-11-15,11:11:00,pm,Champigny-sur-Marne,0,0,0,0,70352242,False,False,0,False
4071,8427219,90051054,2017-11-15,01:54:00,pm,Besançon,0,0,0,0,11728683,False,False,0,False
4072,6608119,79924173,2017-11-15,10:37:00,pm,Saint-Denis,0,0,0,0,81700452,False,False,0,False
4073,8356037,94504944,2017-11-15,08:39:00,pm,Tourcoing,0,0,0,0,90823801,True,False,0,False
4074,1225225,21615858,2017-11-15,00:31:00,pm,Mulhouse,0,0,0,0,79458483,False,False,0,False
4075,8187425,66007116,2017-11-15,01:48:00,pm,Reims,0,0,0,0,34404678,False,False,0,False
4076,5564217,96775328,2017-11-15,07:38:00,pm,Paris,0,0,0,0,47900018,False,False,0,False
4077,3468669,63699306,2017-11-15,10:42:00,pm,Montpellier,0,0,0,0,57683124,False,False,0,False
4078,8124598,20928614,2017-11-15,05:22:00,pm,Montpellier,0,0,0,0,46548075,False,False,0,False
4079,4759192,86739346,2017-11-15,09:40:00,pm,Paris,0,0,0,0,95084333,False,False,0,False
4080,9755667,70889496,2017-11-15,06:38:00,pm,Dijon,0,0,0,0,67401122,False,False,0,False
4081,2911378,93668532,2017-11-15,01:22:00,pm,Perpignan,0,0,0,0,75858369,False,False,0,False
4082,1957513,78468307,2017-11-15,03:09:00,pm,Nanterre,0,0,0,0,65272411,True,False,0,False
4083,3011442,95745605,2017-11-15,02:27:00,pm,Aix-en-Provence,0,0,0,0,18414009,False,False,0,False
4084,8228478,52212688,2017-11-15,00:07:00,pm,Nantes,0,0,0,0,96334403,False,False,0,False
4085,6648698,37458981,2017-11-15,05:38:00,pm,Lyon,0,0,0,0,55405053,False,False,0,False
4086,4549449,49764497,2017-11-15,10:01:00,pm,Nanterre,0,0,0,0,33792686,False,False,0,False
4087,8707533,12038558,2017-11-15,05:07:00,pm,Pau,0,0,0,0,56606204,True,False,0,False
4088,7094639,42362531,2017-11-15,10:11:00,pm,Tours,0,0,0,0,81539551,False,False,0,False
4089,8876094,63679637,2017-11-15,02:01:00,pm,Saint-Paul,0,0,0,0,34694301,False,False,0,False
4090,5081814,74429769,2017-11-16,02:42:00,am,Bordeaux,0,0,0,0,99023064,True,False,0,False
4091,2667343,41831454,2017-11-16,10:17:00,am,Colombes,0,0,0,0,14088127,False,False,0,False
4092,8249645,20703422,2017-11-16,00:31:00,am,Marseille,0,0,0,0,93768878,False,False,0,False
4093,2501998,25065786,2017-11-16,06:21:00,am,Orléans,0,0,0,0,99360827,False,False,0,False
4094,6688856,20811006,2017-11-16,08:53:00,am,Montpellier,0,0,0,0,52949336,False,False,0,False
4095,9107295,54211417,2017-11-16,05:54:00,am,Paris,0,0,0,0,89155720,False,False,0,False
4096,8706378,45932045,2017-11-16,03:15:00,am,Courbevoie,0,0,0,0,35745015,False,False,0,False
4097,9767920,97744700,2017-11-16,01:43:00,am,Paris,0,0,0,0,12940345,False,False,0,False

In [103]:
"""
Let's try with the full data, twitter + instagram
"""

C:\Users\menoci\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [ ]:
len(DNI)